header, main, footer {
    text-align: center;
}
header{
    background-image: url(falar.jpg);
    color: #ff4f4f;
}

body{
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-family: 'Roboto', sans-serif;
    background-color:#EEE9E9;
}

main{
    margin: 50px;
}

section.motivos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

section.porque{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;
}

section.cursos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}

main span{
    color:blue;
}
footer{
    margin-top: auto;
    padding: 1px;
    border: 1px solid rgb(14, 13, 13);
}

footer h4 span{
    color:#ff4f4f;
}