header, main, footer {
    text-align: center;
}
header{
    background-image: url(falar.jpg);
    color: #ff4f4f;
}

body{
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 50px;
}

section.motivos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

main span{
    color:blue;
}
footer{
    margin-top: auto;
    padding: 3px;
    border: 3px solid #eee;
}

footer h4 span{
    color:#ff4f4f;
}